body{
    background-color: rgb(124, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color: rgb(255, 36, 36);
    text-align: center;
    padding: 16px;
    margin: 0 auto;
}
section{
    background-color: rgb(255, 121, 121);
    padding: 16px;
    border-radius: 10px;
    margin: 16px;
}